@tailwind base;
@tailwind components;
@tailwind utilities;


.grid{
  grid-template-columns: repeat(auto-fit, minmax(clamp(10rem, 10rem + 10.333vw, 1000rem), 1fr));
  grid-column-gap: 3rem;
    grid-row-gap: 2rem;
}

.Font{
  font-size: clamp(.5rem, .7rem + 1.3333vw, 6rem);
  height: fit-content;
}
.ml{
 margin-left: -2%;
}
.Font-H1{
  font-size: clamp(1rem, 1rem + 2.3333vw, 6rem);
}
.Font-H4{
  font-size: clamp(.6rem, .6rem + 1.3333vw, 4rem);
}