@tailwind base;
@tailwind components;
@tailwind utilities;


.grid{
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-column-gap: 3rem;
    grid-row-gap: 2rem;
}

.Font{
  font-size: clamp(.5rem, .7rem + 1.3333vw, 6rem);
  height: fit-content;
}